.movie{
    background-color: rgb(63, 79, 109);
    max-width:325px;
    border-radius:10px;
    margin:10px;
    margin-bottom:30px;
    box-shadow: 0px 4px 5px rgb(0, 0, 0);
    overflow: hidden;
    position:relative;

}

.movie img{
    width:100%;
}

.info{
    display:grid;
    grid-template-columns: auto 30px;
    padding:0px 20px;
    color:white;
}

.info p{
    background-color: rgb(53, 56, 77);
    padding:4px;
    height:1.3rem;
    text-align: center;

}

.green{
    color:rgb(42, 158, 62);
    font-weight:bold;
}

.red{
    color:rgb(243, 71, 71);
}

.yellow{
    color: rgb(245, 215, 43);
        font-weight:bold;
}

.overview{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:2rem;
    background-color: rgba(0, 0, 0, 0.76);
    color:white;
    opacity: 0;
    transition: opacity 0.3s;
}

.overview:hover{
    opacity:1;
    cursor:pointer;
}